name: BlazeDemo CI/CD

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
    
    - name: Cache Maven packages
      uses: actions/cache@v4
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}

    - name: Run Tests
      run: mvn clean test

    - name: Upload Reports
      uses: actions/upload-artifact@v4
      with:
        name: test-reports
        path: |
		  target/surefire-reports/
          ExtentReport.html
